
CATALOG {
    background-color: #ffffff;
    width: 100%;
}
NAME {
    display: block;
    color: #000000;
    font-size: 50pt; 
}
BOOK {
    display: block;
    margin-bottom: 40pt;
    margin-left: 0;
}
TITLE {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}
AUTHOR {
    display: block;
    color: #0000ff;
    font-size: 20pt;
}
COUNTRY, PRICE, YEAR, COMPANY {
    display: block;
    color: #000000;
    margin-left: 20pt;
}